/* styles for header */
:root{
    --main-bg-color: rgb(121, 35, 36, 95%);
    --color-2: #FF6551;
    --main-color-text: rgb(142, 23, 26) ;
    --grey-text: #4e4747;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Montserrat'!important;
    margin: 0;
    padding: 0;
}

.layer1{
    background: url('../static/svg/waves.svg');
}

.spacer {
    aspect-ratio: 960/50;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header nav{
    background: var(--main-bg-color) !important;
    color: white !important;
} 


header nav a{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: clamp(8px, 5vw, 14px);
    color: white;
}

header nav h2{
    font-style: normal;
    font-weight: 600 !important;
    font-size: clamp(18px, 2vw, 24px);
    word-wrap: break-word;
}

.signupBtn{
    background: var(--color-2);
    border-radius: 5px;
}

.link:hover{
    color: var(--color-2);
}

header button:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-color: white;
    outline-style: auto;
    outline-width: 5px;
}