/* styles for home page and tabs */

.nav-tabs button{
    background: transparent !important;
    border: none !important;
    white-space: normal;
    word-wrap: normal;
    font-weight: 700;
    font-size: clamp(12px, 3vw, 15px);
    color: var(--main-color-text) !important;
    max-width: 40vw;
    padding: 10px;
}

.nav-tabs .active{
    color: var(--color-2) !important;
    border: none !important;
    outline: none !important;
}

.info, .tabs{
    color: var(--main-color-text);
    padding:0px 5vw;
}

.tabs{
    border: none !important;
}

.info h1{
    font-weight: 700;
    font-size: clamp(20px, 5vw, 58px);

    letter-spacing: 0.2px;
    margin :0;
}

.info p, .info h3{
    color: var(--grey-text);
}

.info p
{
    text-align: revert;
    font-weight: 400;
    font-size: clamp(12px, 3vw, 16px);
    line-height: 18px;
    letter-spacing: 0.2px;
}

.vandm{
    text-align:justify;
}

.contacts p, .contacts h3{
    text-align: left;
    margin: 0 !important;
    line-height: 30px;
}

.contacts h1{
    margin-bottom: 5vh;
}

.contacts img{
    width: 40vw;
} 

.nav-tabs{
    border:none !important;
}

.info img{
    width: 100%;
    align-self: center;
    justify-self: center;
}

@media screen and (min-width: 700px) {
    .info img{
        float: right ;
        width: 30vw;
        margin: 15px;
    }
}